<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.confidant">
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_vpn_key_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_vpn_key_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Activities.SetupPin"
            android:noHistory="true"></activity>
        <activity android:name=".Activities.Land"
            android:noHistory="true"></activity>
        <activity
            android:name=".Activities.SecreteHome"
            android:noHistory="true"></activity>
        <activity
            android:name=".Activities.SecreteNew"
            android:noHistory="true"></activity>
        <activity
            android:name=".Activities.SecreteEdit"
            android:noHistory="true"></activity>
        <activity
            android:name=".Activities.SetupPinConfirm"
            android:noHistory="true"></activity>
        <activity android:name=".Activities.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>